<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Churn Demo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>


<!-- <div class="page">
  <h1>Churn Prediction</h1>
  <div class="metanav">
  	<a class="" href="/">Churn</a>
  </div> -->

<!-- <center><image src="Watson.png" height="75" width="75" /></center>
 -->
  <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script type="text/javascript" src="range.js"></script>
  <script src="result.js"></script>
  <script
    type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js">
  </script>
  <script src="chart.js"></script>
</div>

<!-- <footer>
Updated April 23, 2018
</footer> -->